body, html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  line-height: 1em;
}

body {
  font-family: Open Sans;
  background-color: #1c2329;
}

#gl {
  height: 100%;
}

#stats {
  width: 80px;
  height: 48px;
}

body .dg.ac {
  height: auto;
}

#status {
  z-index: 100;
  color: #fff;
  position: absolute;
  font-family: courier;
  font-size: 11px;
  overflow: auto;
  left: 50%;
  max-height: 40%;
  top: 30%;
  margin-left: -100px;
  width: 200px;
  position: absolute;
}